@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="container-fluid" >
        <div class="row">
            <div class="col-xs-12  col-sm-8 col-md-6" style="text-align: center">
                <h1>About site</h1>
                <br />
                <p>
                    Welcome to ChatRPCI. I am a student of MPEI of the Department of Applied Mathematics and Computer Science. This is my chat application. Here you can communicate with all users in a general chat, as well as make a private dialogue with a specific user. If some user annoys you, you can mute him, i.e. add to the blacklist. 
                </p>
                <p>Enjoy the conversation.</p>
                <a class="btn btn-primary" asp-area="" asp-page="/GeneralChat">Join chat</a>
            </div>
        </div>
        

        
    </div>
